# Общие папки сборки
target/
build/

# Файлы зависимостей
.mvn/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Eclipse/STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# Лог-файлы
*.log
hs_err_pid*

# Системные файлы ОС
.DS_Store
Thumbs.db

# Java-пакеты и сборочные артефакты
*.class
*.jar
*.war
*.ear

# Тестовые файлы
test-output/

# Конфигурационные файлы ОС
*.swp
*~
